<!DOCTYPE html>
<html ng-app="nvApp">
<head>
<meta charset="utf-8">
<link href="/lib/nv.d3.css" rel="stylesheet" type="text/css">
<script src="/lib/d3.v3.js"></script>
<script src="/lib/nv.d3.js"></script>
<script src="/lib/angular.js"></script>
<script src="app.js"></script>
<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

.mypiechart {
  width: 500px;
  border: 2px;
}
</style>
</head>
<body class='with-3d-shadow with-transitions'>

<div ng-controller="PieChartController">
  <h2>{{title}}</h2>
  Enter a new value: <input ng-model="newValue" start-focus>
  <button ng-click="addData(newValue)">Add Value</button><br/>
  Data items: {{outputData()}}
  <div nv-pie-chart chart-data="pieData" chart-width='300' chart-height='300'></div>
</div>
</html>