<!DOCTYPE html>
<html ng-app="nvApp">
<head>
<meta charset="utf-8">
<link href="/lib/nv.d3.css" rel="stylesheet" type="text/css">
<style>

body {
  overflow-y:scroll;
  font-family: Arial;
}

text {
  font: 12px sans-serif;
}

.mypiechart {
  width: 500px;
  border: 2px;
}

#navigation {
  font-size: 2em;
  cursor: pointer;
  color: darkblue;
}


#navigation a:hover {
  text-decoration: underline;
}
</style>
</head>
<body class='with-3d-shadow with-transitions'>

<div ng-controller='NavigationController'>
  <div id='navigation'>
    <a ng-click="switchTo('pie')">Pie Charts</a> |
    <a ng-click="switchTo('line')">Line Charts</a>
  </div>
  A simple NVD3 app, built with AngularJS

  <div ng-switch on="chartNavType">
    <div ng-switch-when="pie">
      <div ng-controller="PieChartController">
        <div ng-include="'templates/piecharts.html'"></div>
      </div>
    </div>

    <div ng-switch-when="line">
        <div ng-include="'templates/linecharts.html'"></div>
    </div>
  </div>

</div>


<script src="lib/require.js" data-main="main.js"></script>
</body>
</html>